DB_TYPE="postgresql"
DB_USER="postgres"
DB_PASSWORD="postgres"
DB_HOST="localhost"
DB_PORT="5432"
DB_NAME="portfolio_db"
JWT_SECRET="jwt_secret_key"

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/portfolio_db"

RMQ_URL="amqp://guest:guest@localhost:5672"
